<li class="list-group-item">
  <div class="row">
    <div class="col-4">
      <img src="{{ asset('images/products/' ~ item.product.images[0]) }}" alt="" class="card-img-top rounded-0">
    </div>
    <div class="col-8">
      <div class="d-flex justify-content-between">
          <h5 class="card-title">{{ item.product.name }}</h5>
          <p>{{ item.product.price }} &euro;</p>
      </div>
      <p>Quantité: {{ item.quantity }}</p>
      <p>Taille: L</p>
      <a href="{{ path('cart_remove', {'id': item.id}) }}" class="text-dark"><i class="fas fa-trash-alt mr-2"></i>Supprimer</a>
    </div>
  </div>
</li>

