{% extends 'base.html.twig' %}

{% block body %}

<h1>Sign In</h1>

{{ form_start(form) }}

{{ form_row(form.firstname, {'label': 'Firstname' ,'attr': {'placeholder': 'John'}}) }}
{{ form_row(form.lastname, {'label': 'Lastname' ,'attr': {'placeholder': 'Doe'}}) }}
{{ form_row(form.date_of_birth) }}
{{ form_row(form.sexe, {'label': 'Sexe' ,'attr': {'placeholder': 'Quel est votre sexe ?'}}) }}
{{ form_row(form.email, {'label': 'Email' ,'attr': {'placeholder': 'John@doe.com'}}) }}
{{ form_row(form.password, {'label': 'Mot de passe ' ,'attr': {'placeholder': 'Mot de passe'}}) }}
{{ form_row(form.confirm_password, {'label': 'Confirmation du mot de passe' ,'attr': {'placeholder': 'Répetez votre mot de passe'}}) }}

    <button type="submit" class="btn btn-success">Inscription</button>
{{ form_end(form) }}

{% endblock %}
