{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    {# <pre>
        {{ dump(product.images) }}
    </pre> #}

    <div class="container">
        <div class="row mt-5">

            <div class="col-8">
                <div class="row">
                    {% for image in product.images %}
                    <div class="col my-1">
                    <img src="{{ asset('images/products/' ~ image.image) }}" alt="{{ image.image }}" width="700">
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-4">

                <h2 class="my-3">{{ product.name }}</h2>

                <h5 class="my-3">{{ product.price }} &euro; <small class="text-muted">TVA incluse</small></h5>

                <p class="my-3"><strong>Catégorie:</strong> {{ product.gender }}, {{product.category}}</p>

                <form method="post" action="{{ path('cart_add') }}" accept-charset="UTF-8">
                <input type="hidden" name="product_id" value="{{ product.id }}">
                <h5 class="mt-4">Taille</h5>
                <div class="form-group">
                    <select class="form-control" name="product_size" required="required" id="exampleFormControlSelect1" style="width:6.25em;">
                        {% for size in sizes %}
                        <option>{{ size['0'] }}</option>
                        {% endfor %}
                    </select>
                </div>

                <h5 class="mt-4">Quantité</h5>
                <div class="form-group">
                    <select class="form-control" name="product_quantity" required="required" id="exampleFormControlSelect1" style="width:6.25em;">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
                
                <button type="submit" class="btn btn-outline-secondary btn-lg my-4"><i class="fas fa-cart-plus"></i> Ajouter au panier</button>
                <button type="button" class="btn btn-outline-secondary btn-lg my-4"><i class="far fa-heart"></i></button>

                </form>

                <div class="accordion" id="accordionExample">
                <div class="list-group list-group-flush">

                    <div class="list-group-item" id="headingOne">
                        <a class="text-left text-dark text-decoration-none" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <h5>Description</h5>
                        </a>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>{{ product.description }}</p>
                    </div>
                    </div>

                </div>
                <div class="list-group list-group-flush">

                    <div class="list-group-item" id="headingTwo">
                        <a class="text-left collapsed text-dark text-decoration-none" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h5>Livraisons et retours</h5>
                        </a>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>Livraison standard gratuite.</p>
                        <ul class="">
                            <li class="mb-3">Temps estimé entre 3 et 5 jours ouvrables en fonction de votre situation géographique.</li>
                            <li class="mb-3">Vous pouvez retourner votre commande gratuitement, quelle que soit la raison, dans un délai de 60 jours.</li>
                        </ul>
                    </div>
                    </div>

                </div>
                <div class="list-group list-group-flush">
                    <div class="list-group-item" id="headingThree">
                        <a class="text-left collapsed text-dark text-decoration-none" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <h5>Avis</h5>
                        </a>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                        {% if app.user %}
                        <a href="{{ path('comment_new') }}" class="text-dark"><i class="fas fa-comment-medical mr-2"></i>Ajoutez un commentaire</a>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">Ajouter un commentaire</button>

                        <!-- Modal -->
                        <div class="modal-dialog modal-dialog-centered">

                        <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Ajoutez un commentaire</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {{ render(controller('App\\Controller\\CommentController::new')) }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                            </div>
                        </div>
                        </div>

                        </div>

                        {% else %}
                        <a class="btn btn-outline-dark" href="{{ path('security_login') }}">Ajoutez un commentaire</a>
                        {% endif %}
                            <section>
                                {% for comment in product.comments %}
                                <div class="card rounded-0 mt-3">
                                    <blockquote class="blockquote mb-0 card-body">
                                    <small>{{ comment.comment }}</small>
                                    <footer class="blockquote-footer">
                                        <small class="text-muted">
                                        <p><em class"text-italic">écrit par </em>{{ comment.user.firstname }} {{ comment.user.lastname }}</p>
                                        </small>
                                    </footer>
                                    </blockquote>
                                </div>
                                {% endfor %}
                            </section>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row bg-light">
    <h5 class="text-uppercase">vous aimerez peut être aussi</h5>
    </div>


    <a href="{{ path('product_index') }}">back to list</a>

{% endblock %}
