{% extends 'base.html.twig' %}

{% block title %}Profile | Wave Store{% endblock %}

{% block body %}
    <div class="container">
        <div class="row my-5">
        <h3>Bonjour {{ user.firstname }}</h3>
        </div>
        <div class="row my-5">
            <div class="col-8">

                <div class="card rounded-0">
                    <div class="card-body">
                        <h4 class="font-weight-bold">Informations</h4>
                        <div class="ml-2 mb-4">
                            <p>{{ user.firstname }}</p>
                            <p>{{ user.lastname }}</p>
                            <p>{{ user.dateOfBirth ? user.dateOfBirth|date('Y-m-d') : '' }}</p>
                            <p>{{ user.sexe }}</p>
                            <h6 class="mb-3 font-weight-bold">Email</h6>
                            <p>{{ user.email }}</p>
                            <h6 class="mb-3 font-weight-bold">Mot de passe</h6>
                            <p>{{ user.password }}</p>
                            <a href="{{ path('user_edit', {'id': user.id}) }}" class="mb-5 text-dark"><i class="fas fa-cog"></i> Modifier</a>
                        </div>
                    </div>
                </div>
            </div>

            {# menu #}
            <div class="col-4">
                {% include 'includes/menu-profil.html.twig' %}
            </div>

        </div>
    </div>
{% endblock %}
